<title>EACIIT Web Template</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="/res/img/logo.png" type="image/x-icon" />
<link rel="icon" href="/res/images/logo.png" type="image/x-icon" />

<!-- jquery -->
<script src="/res/plugins/jquery/jquery-2.1.0.min.js"></script>
<script src="/res/plugins/jquery/jquery-ui.min.js"></script>

<!-- knockout -->
<script src="/res/plugins/knockout/knockout-3.4.0.js"></script>
<script src="/res/plugins/knockout/knockout.mapping.js"></script>
<script src="/res/plugins/knockout/knockout-file-bindings.js"></script>
<link href="/res/plugins/knockout/knockout-file-bindings.css" rel="stylesheet">

<!-- lazyjs -->
<script src="/res/plugins/lazyjs/lazy.min.js"></script>

<!-- underscore -->
<script src="/res/plugins/underscore.min.js"></script>

<!-- bootstrap -->
<script src="/res/plugins/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/res/plugins/bootstrap/css/bootstrap.min.css" />
<!-- <link rel="stylesheet" href="/res/bootstrap/css/bootstrap-theme.min.css" /> -->

<!-- font-awesome -->
<link rel="stylesheet" href="/res/plugins/font-awesome/css/font-awesome.min.css" />

<!-- kendo-ui -->
<link href="/res/plugins/kendo-ui/styles/kendo.default.min.css" rel="stylesheet">
<link href="/res/plugins/kendo-ui/styles/kendo.common-bootstrap.min.css" rel="stylesheet">
<link href="/res/plugins/kendo-ui/styles/kendo.bootstrap.min.css" rel="stylesheet">
<link href="/res/plugins/kendo-ui/styles/kendo.dataviz.min.css" rel="stylesheet">
<link href="/res/plugins/kendo-ui/styles/kendo.dataviz.bootstrap.min.css" rel="stylesheet">
<script src="/res/plugins/kendo-ui/js/kendo.all.min.js"></script>

<!-- knockout-kendo -->
<script src="/res/plugins/knockout-kendo/knockout-kendo.min.js"></script>

<!-- moment -->
<script src="/res/plugins/moment/moment.min.js"></script>

<!-- sweetalert -->
<script src="/res/plugins/sweetalert/sweetalert.min.js"></script>
<link href="/res/plugins/sweetalert/sweetalert.min.css" rel="stylesheet"/>

<!-- tooltipster -->
<link rel="stylesheet" href="/res/plugins/tooltipster/css/tooltipster.css" />
<link rel="stylesheet" href="/res/plugins/tooltipster/css/tooltipster-val.css" />
<script src="/res/plugins/tooltipster/js/jquery.tooltipster.min.js"></script>

<!-- core -->
<script src="/res/js/app.js"></script>
<script src="/res/js/layout.js"></script>
<link rel="stylesheet" href="/res/css/style.css" />

<!-- ecnotif -->
<link rel="stylesheet" href="/res/plugins/ecnotif/ecnotif.css" />
<script src="/res/plugins/ecnotif/ecnotif.js"></script>
