<!DOCTYPE html>
<html>
	<head>
		<script>var viewModel = {};</script>
		{{template "_head.html"}}
		
	</head>
	<body data-bind="with: viewModel">
		<div class="navbar navbar-fixed-top">
			<div class="container-fluid" id="header">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img src="/res/images/logoeaciittrans.png" class="headimage" />
						<p class="headlogo">Enhanced Financial Statement</p>
					</a>
				</div>
				<ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user">
					<li class="dropdown hidden-xs">
						<a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="true">
							<span class="thumb-sm avatar pull-left">
								<img src="/res/images/Leonard_Jayamohan.jpg" />
							</span>
							<span class="thumb-sm title-user">Leonard Jayamohan</span>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu animated fadeInRight">
							<span class="arrow top"></span>
							<li ><a href="#">Setting</a></li>
							<li data-bind="click:app.Logout"><a href="#">Logout</a></li>
						</ul>
					</li>
				</ul>
				<div class="clearfix"></div>				
			</div>

			<div class="navbar-collapse collapse" id="nav">
				<div class="container-fluid" id="nav-ul">
				</div>
			</div>
		</div>

		<div class="container-fluid" id="container">
			<div class="row">
				{{.Content}}
			</div>
		</div>

		<!-- Content Chat -->
		<div class="notif">
			<div class="media-body">
				<div class="header-notif">
					<a class="btn btn-sm"><i class="fa fa-circle-o status" style="margin-right: 5px !important;"></i> Notif Transaction</a>
				</div>
				<div class="content-notif">
				</div>
				<!-- <div class="footer-notif media">
					<i class="chat-list-toggle pull-left fa fa-bars"></i>
	                <i class="pull-right fa fa-picture-o"></i> 
	                <div class="media-body">
	                    <textarea class="form-control" placeholder="Type something..."></textarea>
	                </div>
				</div> -->
			</div>
		</div>
		<!-- End Content Chat -->

		<!-- {{template "_miniloader.html"}} -->

		<script type="text/javascript">
		    ko.applyBindings(viewModel);
		</script>
	</body>
</html>