<script src="/res/js/page-ledgerlist.js"></script>
<script src="/res/plugins/eclookup/eclookup.js"></script>
<link rel="stylesheet" href="/res/plugins/eclookup/eclookup.css" />

<div class="col-xs-12 col-sm-12" id="content" data-bind="with: LedgerList">
	<div class="col-md-12" data-bind="visible: (app.section() == 'ledgerlist')">
		<h1>Accounts</h1>
		<nav class="navbar" data-bind="visible: (app.mode() == '')">
			<div class="col-md-6">
				<div class="btn-group" role="group">
			        <!-- <button class="btn btn-sm btn-primary mgTop15" data-bind="click: ll.getLedgerList">
			            <span class="glyphicon glyphicon-refresh"></span> Refresh
			        </button> -->
			        <button class="btn btn-sm btn-primary mgTop15" data-bind="click: addLedgerList">
			            <span class="glyphicon glyphicon-plus"></span> Add
			        </button>
			        <button class="btn btn-sm btn-danger mgTop15" id="removeLedgerList" data-bind="click: removeLedgerList">
			            <span class="glyphicon glyphicon-remove"></span> Delete
			        </button>
			    </div>
			</div>
			<div class="col-md-6 mgTop15 filter-account" data-bind="with:ll.configFilter">
				<input type="text" class="form-control input-sm" name="datefrom" data-bind="kendoDatePicker:{format:'dd MMM yyyy', value:startdate}"/> <span class="separator-filter">-</span> <input type="text" class="form-control input-sm" name="dateto" data-bind="kendoDatePicker:{format:'dd MMM yyyy', value:enddate}"/> &nbsp;
				<button class="btn btn-sm btn-primary" data-bind="click: ll.getLedgerList">
		            <span class="glyphicon glyphicon-refresh"></span> Refresh
		        </button>
			</div>
		</nav>
		<div class="panel" data-bind="visible: (app.mode() == '')">
			<div class="panel-body">
		    	<div class="grid grid-efs" data-bind="kendoGrid: { dataSource: { pageSize: 15 }, data: ll.ledgerListData, selectable: 'multiple, row', change: ll.selectGridLedgerList, columns: ll.ledgerListColumns, filterfable: false, pageable: true }"></div>
		    </div>
		    <p class="bg-danger bgcustom">Please click row to edit!</p>
		</div>
		<nav class="navbar" data-bind="visible: (app.mode() == 'edit')">
			<button class="btn btn-sm btn-warning navbar-btn" data-bind="click: backToFront">
	    		<span class="glyphicon glyphicon-chevron-left"></span> Back
	    	</button>
            <button class="btn btn-sm btn-primary navbar-btn" data-bind="click: saveLedgerList">
	    		<span class="glyphicon glyphicon-save"></span> Save
	    	</button>
		</nav>
		<div class="panel" data-bind="visible: (app.mode() == 'edit')">
			<div class="panel-body">
		    	<form class="form-horizontal form-add-efs" data-bind="with: configLedgerList" novalidate>
			    	<div class="col-md-12">
			    		<div class="form-group">
				    		<label class="col-md-1 databrowser-label">ID</label>
				    		<div class="col-md-5">
					    		<input required type="text" class="form-control input-sm" name="_id" placeholder="Type the page id Here" data-bind="value: _id">
								<span class="k-invalid-msg" data-for="_id"></span>
				    		</div>
			    		</div>
			    		<div class="form-group">
				    		<label class="col-md-1 databrowser-label">Title</label>
				    		<div class="col-md-5">
					    		<input required type="text" class="form-control input-sm" name="title" placeholder="Type the page title Here" data-bind="value: title">
								<span class="k-invalid-msg" data-for="title"></span>
				    		</div>
			    		</div>
			    		<div class="form-group">
				    		<label class="col-md-1 databrowser-label">Type</label>
				    		<div class="col-md-5">
					    		<input data-bind="kendoDropDownList:{dataTextField:'text', dataValueField: 'value', dataSource: ll.dataType, value: type}" />
				    		</div>
			    		</div>
			    		<div class="form-group" data-bind="visible: type() == 0">
				    		<label class="col-md-1 databrowser-label">Group</label>
				    		<div class="col-md-5">
					    		<!-- <input data-bind="kendoMultiSelect:{dataSource: ll.dataGroup(), value: group}" /> -->
					    		<input id="grouptype" />
				    		</div>
			    		</div>
			    		<div class="form-group">
				    		<label class="col-md-1 databrowser-label">Opening</label>
				    		<div class="col-md-5">
					    		<input required type="text" data-bind="kendoNumericTextBox:{ value: opening}">
				    		</div>
			    		</div>
			    		<div class="form-group">
				    		<label class="col-md-1 databrowser-label">Date</label>
				    		<div class="col-md-5">
					    		<input required type="text" class="form-control input-sm" name="title" placeholder="Type the page opening Here" data-bind="kendoDatePicker:{ value: date, format: 'dd MMM yyyy'}">
				    		</div>
			    		</div>
		    		</div>
		    	</form>

		    </div>
		</div>

	</div>
</div>