<script src="/res/js/page-formula.js"></script>
<script src="/res/plugins/eclookup/eclookup.js"></script>
<link rel="stylesheet" href="/res/plugins/eclookup/eclookup.css" />

<!-- main area -->
<div class="col-xs-12 col-sm-12" id="content" data-bind="with: FormulaPage">
	<div class="col-md-12" data-bind="visible: (app.section() == 'formula')">
		<h1>Formula Editor</h1>
		<div class="panel" data-bind="visible: (app.mode() == '')">
		    <div class="panel-body">
		    	<div class="col-md-12">
		    		<table class="table table-striped">
		    			<!-- <thead>
			    			<tr>
			    				<th>No</th>
			    				<th>Title 1</th>
			    				<th>Title 2</th>
			    				<th>Value 1</th>
			    				<th>Value 2</th>
			    			</tr>
			    		</thead> -->
			    		<tbody data-bind="foreach: fp.dataFormula">
			    			<tr data-bind="click: function(){fp.showFormula($index(),$data)}">
			    				<td data-bind="html:$index()+1"></td>
			    				<td data-bind="html:title1, style: {fontWeight: bold == true ? 'bold':'normal'}"></td>
			    				<td data-bind="html:title2, style: {fontWeight: bold == true ? 'bold':'normal'}"></td>
			    				<td data-bind="html:value1.toString()"></td>
			    				<td data-bind="html:value2.toString()"></td>
			    			</tr>
			    		</tbody>
		    		</table>
		    	</div>
		    </div>
		</div>
	</div>
</div>

<div class="modal fade" id="formula-popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Formula</h4>
      </div>
      <div class="modal-body">
        <div class="row form-formula">
        	<div class="col-md-4 nav-command">
        		<label class="col-md-12 title-command">List Akun</label>
        		<div class="col-md-12">
        			<ul class="nav" data-bind="foreach: fp.dataFormula">
        				<li><a href="#" data-bind="click: function(){fp.selectListAkun($index(),$data)}, text: ($index()+1)+'. '+title1+' '+title2"></a></li>
        			</ul>
        		</div>
        	</div>
        	<div class="col-md-8">
	        	<label class="col-md-12 title-command">Formula Editor</label>
	        	<div class="col-md-12 formula-command">
	        		<div class="btn-group btnKoefisien" role="group" aria-label="...">
						<button type="button" class="btn btn-default" data-bind="click: function(){fp.selectKoefisien('+')}">+</button>
						<button type="button" class="btn btn-default" data-bind="click: function(){fp.selectKoefisien('-')}">-</button>
						<button type="button" class="btn btn-default" data-bind="click: function(){fp.selectKoefisien('*')}">*</button>
						<button type="button" class="btn btn-default" data-bind="click: function(){fp.selectKoefisien('/')}">/</button>
					</div>
					<div class="btn-group btnKoefisien" role="group" aria-label="...">
						<button type="button" class="btn btn-default" data-bind="click: function(){fp.selectKoefisienGroup('SUM')}">SUM</button>
						<button type="button" class="btn btn-default" data-bind="click: function(){fp.selectKoefisienGroup('DEVIDE')}">DEVIDE</button>
						<button type="button" class="btn btn-default" data-bind="click: function(){fp.selectKoefisienGroup('AVERAGE')}">AVERAGE</button>
						<button type="button" class="btn btn-default" data-bind="click: function(){fp.selectKoefisienGroup('MULTIPLY')}">MULTIPLY</button>
						<button type="button" class="btn btn-default" data-bind="click: function(){fp.selectKoefisienGroup('IF')}">IF</button>
					</div>
					<button class="btn btn-default btnKoefisien" data-bind="click: fp.clearFormula">CLEAR</button>
	        	</div>
	        	<div class="col-md-12">
	        		<input type="text" id="formula-editor" />
	        	</div>
        	</div>
        </div>
        <div style="clear:both;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">OK</button>
      </div>

    </div>
  </div>
</div>