<script src="/res/js/page-formula.js"></script>
<script src="/res/plugins/eclookup/eclookup.js"></script>
<link rel="stylesheet" href="/res/plugins/eclookup/eclookup.css" />
<style>
	.modal#formula-popup .modal-dialog {
		width: 85%;
	}
</style>
<!-- main area -->
<div class="col-xs-12 col-sm-12" id="content" data-bind="with: FormulaPage">
	<div class="col-md-12" data-bind="visible: (app.section() == 'formula')">
		<h1>Formula Editor</h1>
		<div class="panel" data-bind="visible: (app.mode() == '')">
		    <div class="panel-body table-formula">
		    	<div class="col-md-12">
		    		<button class="btn btn-sm btn-primary" data-bind="click:fp.addColumn"><span class="glyphicon glyphicon-plus"></span> Add Column</button>
		    		<button class="btn btn-sm btn-warning" data-bind="click:fp.refreshAll"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
		    		<button class="btn btn-sm btn-success" data-bind="click:fp.saveStatement"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
		    	</div>
		    	<div class="col-md-12">
		    		<table id="tableFormula" class="table table-striped table-bordered">
		    			<thead>
			    			<tr class="searchsv">
			    				<td></td>
			    				<td></td>
			    				<td></td>
			    				<td indexid="1"><div class="searchversion"><button class="btn btn-sm btn-success btn-simulate" onClick="fp.selectSimulate(1)">Simulate</button></div><div class="searchversion"><input class='searchversion' id="version1" indexcolumn="1" /></div></td>
			    			</tr>
			    		</thead>
			    		<tbody data-bind="template:{name:'formulaTemplate', foreach:fp.dataFormula.Element()}">
			    		</tbody>
		    		</table>
		    	</div>
		    </div>
		</div>
	</div>
</div>

<script id="formulaTemplate" type="text/html">
	<tr>
		<td data-bind="html:$index()+1"></td>
		<td data-bind="html:StatementElement.Title1, style: {fontWeight: StatementElement.Bold == true ? 'bold':'normal'}"></td>
		<td data-bind="html:StatementElement.Title2, style: {fontWeight: StatementElement.Bold == true ? 'bold':'normal'}"></td>
		<!-- ko if: StatementElement.Type() == 50 -->
		<td data-bind="html:ValueNum().toString(), style: {fontWeight: StatementElement.Bold == true ? 'bold':'normal', textAlign: 'Right'}, click: function(){fp.showFormula($index(),$data,1)}, attr:{'indexid':'1'}"></td>
		<!-- /ko -->
		<!-- ko if: StatementElement.Type() == 12 -->
		<td data-bind="attr:{'indexid':'1'}">
			<input type="text" class="form-control input-sm" data-bind="value:ValueTxt"/>
		</td>
		<!-- /ko -->
		<!-- ko if: StatementElement.Type() == 10-->
		<td data-bind="attr:{'indexid':'1'}">
			<input data-bind="attr:{'id':'valueversion'+$index()}, kendoNumericTextBox:{value:ValueNum}"/>
		</td>
		<!-- /ko -->
		<!-- ko if: StatementElement.Type() == 11 -->
		<td data-bind="attr:{'indexid':'1'}">
			<input data-bind="attr:{'id':'valueversion'+$index()}, kendoDateTimePicker:{value:ValueTxt, format: 'dd MMM yyyy'}"/>
		</td>
		<!-- /ko -->
		<!-- ko if: StatementElement.Type() == 1 -->
			<td data-bind="attr:{'indexid':($index()+2).toString()}"></td>
			<!-- /ko -->
		<!-- ko foreach: ElementVersion -->
			<!-- ko if: StatementElement.Type() == 50 -->
			<td data-bind="html:ValueNum().toString(), style: {fontWeight: StatementElement.Bold == true ? 'bold':'normal', textAlign: 'Right'}, attr:{'indexid':($index()+2).toString()}, click: function(){fp.showFormula($($element).index(),$data,($index()+2))}"></td>
			<!-- /ko -->
			<!-- ko if: StatementElement.Type() == 12 -->
			<td data-bind="attr:{'indexid':($index()+2).toString()}">
				<input type="text" class="form-control input-sm" data-bind="value:ValueTxt"/>
			</td>
			<!-- /ko -->
			<!-- ko if: StatementElement.Type() == 10 -->
			<td data-bind="attr:{'indexid':($index()+2).toString()}">
				<input data-bind="attr:{'id':'valueversion'+$index()}, kendoNumericTextBox:{value:ValueNum}"/>
			</td>
			<!-- /ko -->
			<!-- ko if: StatementElement.Type() == 11 -->
			<td data-bind="attr:{'indexid':($index()+2).toString()}">
				<input data-bind="attr:{'id':'valueversion'+$index()}, kendoDateTimePicker:{value:ValueTxt, format: 'dd MMM yyyy'}"/>
			</td>
			<!-- /ko -->
			<!-- ko if: StatementElement.Type() == 1 -->
			<td data-bind="attr:{'indexid':($index()+2).toString()}"></td>
			<!-- /ko -->
		<!-- /ko -->
	</tr>
</script>

<div class="modal fade" id="formula-popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Formula</h4>
      </div>
      <div class="modal-body">
        <div class="row form-formula">
        	<div class="col-md-3 nav-command">
        		<label class="col-md-12 title-command">Account List</label>
        		<div class="col-md-12">
        			<ul class="nav" data-bind="foreach: fp.dataFormula.Element()">
        				<li><a href="#" data-bind="click: function(){fp.selectListAkun($index(),$data)}, text: ($index()+1)+'. '+StatementElement.Title1()+' '+StatementElement.Title2()"></a></li>
        			</ul>
        		</div>
        	</div>
        	<div class="col-md-6">
	        	<label class="col-md-12 title-command">Formula Editor</label>
	        	<div class="col-md-12 formula-command">
	        		<div class="btn-group btnKoefisien" role="group" aria-label="..." data-bind="visible: fp.modeFormula() == ''">
						<button type="button" class="btn btn-primary btn-sm" data-bind="click: function(){fp.selectKoefisien('+')}">+</button>
						<button type="button" class="btn btn-primary btn-sm" data-bind="click: function(){fp.selectKoefisien('-')}">-</button>
						<button type="button" class="btn btn-primary btn-sm" data-bind="click: function(){fp.selectKoefisien('*')}">*</button>
						<button type="button" class="btn btn-primary btn-sm" data-bind="click: function(){fp.selectKoefisien('/')}">/</button>
					</div>
					<div class="btn-group btnKoefisien" role="group" aria-label="..." data-bind="visible: fp.modeFormula() == ''">
						<button type="button" class="btn btn-primary btn-sm" data-bind="click: function(){fp.selectKoefisien('(')}">(</button>
						<button type="button" class="btn btn-primary btn-sm" data-bind="click: function(){fp.selectKoefisien(')')}">)</button>
					</div>
					<div class="btn-group btnKoefisien" role="group" aria-label="...">
						<button type="button" class="btn btn-primary btn-sm" data-bind="click: function(){fp.selectKoefisienGroup('SUM')}">SUM</button>
						<button type="button" class="btn btn-primary btn-sm" data-bind="click: function(){fp.selectKoefisienGroup('AVG')}">AVG</button>
						<button type="button" class="btn btn-primary btn-sm" data-bind="click: function(){fp.selectKoefisienGroup('IF')}">IF</button>
					</div>
					<button class="btn btn-primary btnKoefisien btn-sm" data-bind="click: fp.clearFormula"><span class="glyphicon glyphicon-erase"></span></button>
	        	</div>
	        	<div class="row" data-bind="visible: fp.modeFormula() == ''">
		        	<div class="col-md-12 area-editor">
		        		<span class="col-md-2 databrowser-label">Konstanta</span>
			    		<div class="col-md-10">
				    		<input id="kostanta" data-bind="kendoNumericTextBox:{value:fp.konstanta, placeholder: 'Konstanta'}"/>
			    		</div>
		        	</div>
		        	<div class="col-md-12 area-editor">
		        		<input type="text" id="formula-editor" />
		        	</div>
		        </div>
		        <div class="row" data-bind="visible: fp.modeFormula() == 'SUM' || fp.modeFormula() == 'AVG'">
		        	<div class="col-md-12">
			    		<button class="btn btn-sm btn-warning" data-bind="click: fp.backFormulaEditor"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
			    		<!-- <button class="btn btn-sm btn-primary" data-bind="click: fp.addParameter"><span class="glyphicon glyphicon-plus"></span> Add Parameter</button> -->
			    		<button class="btn btn-sm btn-success" data-bind="click: fp.addKostantaFormula"><span class="glyphicon glyphicon-ok"> OK</button>
		        	</div>
		        	<div class="col-md-12">
		        		<table class="table" id="tablekoefisien">
							<thead>
								<tr style="width: 100%;">
									<th width="45%">From</th>
									<th width="45%">To</th>
									<th width="10%"></th>
								</tr>
							</thead>
							<tbody data-bind="foreach: fp.recordKoefisien">
								<tr>
									<td data-bind="attr:{idarea: 'koefisien1'+$index()}"><input class='areakoefisien' data-bind="attr:{'id':'koefisien1'+$index()}" /></td>
									<td data-bind="attr:{idarea: 'koefisien2'+$index()}"><input class='areakoefisien' data-bind="attr:{'id':'koefisien2'+$index()}" /></td>
									<td>
										<button class="btn btn-sm btn-danger" data-bind="style: { 'visibility': ($index() > 0) ? 'visible' : 'hidden' }, click: function(){fp.removeKoefisien($data)}"><span class="glyphicon glyphicon-trash"></span></button>
									</td>
								</tr>
							</tbody>
						</table>
		        	</div>
		        </div>
		        <div class="row" data-bind="visible: fp.modeFormula() == 'IF'">
		        	<div class="col-md-12">
			    		<button class="btn btn-sm btn-warning" data-bind="click: fp.backFormulaEditor"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
			    		<!-- <button class="btn btn-sm btn-primary" data-bind="click: fp.addParameter"><span class="glyphicon glyphicon-plus"></span> Add Parameter</button> -->
			    		<button class="btn btn-sm btn-success" data-bind="click: fp.addKostantaFormula"><span class="glyphicon glyphicon-ok"> OK</button>
		        	</div>
		        	<div class="col-md-12">
		        		<table class="table" id="tableif">
							<thead>
								<tr style="width: 100%;">
									<th width="20%">Value 1</th>
									<th width="10%"></th>
									<th width="20%">Value 2</th>
									<th width="20%">Result 1</th>
									<th width="20%">Result 2</th>
								</tr>
							</thead>
							<tbody data-bind="foreach: fp.recordCondition">
								<tr>
									<td data-bind="attr:{idarea: 'condition1'+$index()}"><input class='areakoefisien' data-bind="attr:{'id':'condition1'+$index()}" /></td>
									<td data-bind="attr:{idarea: 'condition'+$index()}">
										<select class="form-control input-sm" data-bind="value:condition">
											<option data-bind="text:'=='"></option>
											<option data-bind="text:'>='"></option>
											<option data-bind="text:'<='"></option>
											<option data-bind="text:'>'"></option>
											<option data-bind="text:'<'"></option>
										</select>
									</td>
									<td data-bind="attr:{idarea: 'condition2'+$index()}"><input class='areakoefisien' data-bind="attr:{'id':'condition2'+$index()}" /></td>
									<td data-bind="attr:{idarea: 'result1'+$index()}"><input class='areakoefisien' data-bind="attr:{'id':'result1'+$index()}" /></td>
									<td data-bind="attr:{idarea: 'result2'+$index()}"><input class='areakoefisien' data-bind="attr:{'id':'result2'+$index()}" /></td>
									<td>
										<button class="btn btn-sm btn-danger" data-bind="style: { 'visibility': ($index() > 0) ? 'visible' : 'hidden' }, click: function(){fp.removeKoefisien($data)}"><span class="glyphicon glyphicon-trash"></span></button>
									</td>
								</tr>
							</tbody>
						</table>
		        	</div>
		        </div>
        	</div>
        	<div class="col-md-3">
        		<!-- View Image -->
        		<div class="well" data-bind="fileDrag: fileData">
				    <div class="form-group row">
				        <div class="row">
				            <img style="height: 125px; width: 85%; margin-left:20px;" class="img-rounded  thumb" data-bind="attr: { src: fileData().dataURL }, visible: fileData().dataURL">
				            <div data-bind="ifnot: fileData().dataURL">
				                <label class="drag-label">Drag file here</label>
				            </div>
				        </div>
				        <div class="row">
				            <input type="file" data-bind="fileInput: fileData, customFileInput: {
				              buttonClass: 'btn btn-success btn-sm imageefs',
				              fileNameClass: 'disabled form-control input-sm',
				              onClear: onClear,
				            }" accept="image/*">
				        </div>
				    </div>
				</div>
				<div class="row">
					<button class="btn btn-sm btn-primary" data-bind="click:fp.saveImage"><span class="glyphicon glyphicon-floppy-disk"></span> Image</button>
				</div>
        	</div>
        </div>
        <div style="clear:both;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bind="click:fp.saveFormulaEditor">OK</button>
      </div>

    </div>
  </div>
</div>